# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some data science languages data scientists use are
1. python
2. R
3. javascript
4. sql

Data science libraries are
1. scikit-learn
2. tensorflow
3. pytorch

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Apache zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python
 1+1  
 9*2

In [6]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**
- list of data science
- data science libraries
- data science development environment tools
- arithmetic operations using python

## Author
Susmita